{% extends "base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script type="text/javascript" language="JavaScript">
	
$(document).ready(function(){
$('a.rate-positive').click(function(event) {
var quipnumber = $(event.target).data('postid');
    $.ajax({
    	url : '/upvote',
    	type : "post",
    	contentType: 'application/json;charset=UTF-8',
    	dataType: "json",
    	data : JSON.stringify({'postid' : quipnumber}),
    	success : function(response) {
    		console.log(response);	
    	},
    	error : function(xhr) {
    		console.log(xhr);
    	}
    });
});
});

$(document).ready(function(){
$('a.rate-negative').click(function() {
var quipnumber = $(event.target).data('postid');
$.ajax({
        url : '/downvote',
        type : "post",
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
        data : JSON.stringify({'postid' : quipnumber}),
        success : function(response) {
                console.log(response);
        },
        error : function(xhr) {
                console.log(xhr);
        }
    });
});
});
</script><!-- END javascript -->

{% if numpages>1 %}
<ul class="pagination pagination-sm">
  {% for page in range(numpages) %}
  <li {% if curpage==page %} class="active" {% endif %} >
    <a {% if curpage!=page %}href="/{{page_type}}/{{page+1}}"{% endif %}>{{page+1}}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if quotes  %}
  {% for quote in quotes %}
    {% if quote.approved %}
    <div class="quote-header">
      {% if quote.id %}
      <a class="quote-link" href="/quip/{{ quote.id }}">#{{ quote.id }}</a>
      {% endif %}
      <a class="rate-positive" name="up" id="up-vote" data-postid="{{ quote.id }}" href="#">+</a> ({{quote.rating}}) <a class="rate-negative" name="down" id="down-vote" data-postid="{{ quote.id }}" href="#">-</a>
      <div class="pull-right quote-date">{{ quote.time }}</div>

      {% if session.authorized and quote.id %}
      <form class="mod-form" action="/moderate" name="moderate" method="post">
        <input type="hidden" name="quoteid" value={{quote.id}} />
        <button type="submit" name="submit" class="btn btn-danger btn-sm btn-mod" value="Delete">Delete</button>
      </form>
      {% endif %}
    </div>


    <div class="quote">
        <p>{{ quote.content|safe }}</p>
    </div>

    <div class="tags">

        Tags:
        {% if quote.tags|length > 0 and quote.tags[0].name|length>0%}
          {% for tag in quote.tags %}
          <a href="/tag/{{tag.name}}" class="badge"> {{tag.name}} </a>
          {% endfor %}
        {% else %}
          <strong> No tags </strong>
        {% endif %}

    </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
